@use '../abstracts' as *;

:where(.css-dev-only-do-not-override-1kuana8).ant-layout-header {
    background-color: $headerBackgroundColor;

    h1.ant-typography {
        text-align: center;
        color: $headerTextColor;
    }
}